html {
  font-family: monospace;
  font-size: 24px;
  text-align: center;
  background-color: black;
  color: #ddd;
}

section {
  width: 800px;
  margin: 0 auto;
}

button {
  font-size: inherit;
  padding: 1rem 2rem;
  margin: 2rem;
}

input[type="checkbox"] {
  transform: scale(2);
  padding: 10px;
}

ol {
  width: 300px;
  margin: 1rem auto;
}
